div {
    width: 300px;
    height: 300px;
    background-color: aqua;
    border-radius: 10px;
    animation-name: square-to-circle;
     animation-duration: 3s;  /* длительность анимации  */
     animation-iteration-count: 3; /*количество повторений */
     animation-direction: alternate-reverse; /* то как будет выполняться */
     animation-timing-function: ease; /* Плавность и скорость */
     animation-delay: 2s; /* задержка */
     animation-fill-mode: both; /* как элемент должен выглядеть до начала и после завершения анимации*/
     

}
@keyframes square-to-circle {
    from {
        background-color: aqua;
        border-radius: 10px;
        left:  0%;

    }
    50% {
        background-color: black;
        border-radius: 50% 50% 10px 10px;
    }
    to {
        background-color: antiquewhite;
        border-radius: 50%;
        left: 300px;
    }
}